---
---
@import "primer";

@import url("https://use.typekit.net/myg5mcd.css");
@mixin fontA {
  font-family: "minion-3", serif;
  font-weight: 400;
  font-style: normal;
}

$color-text: #000;
$color-link: #05b;
$color-bg: #fefcf9;

body {
  background-color: $color-bg;

  .markdown-body {
    position: relative;
    padding-top: 2em;
    font-size: 18px;
    @include fontA;
    color: $color-text;

    a {
      color: $color-link;
    }

    h1, h2, h3, h4 {
      font-weight: 700;
      border-bottom: none;
    }

    h1 {
      font-size: 23px;
    }
  }

  footer.site-title {
    @include fontA;
    font-size: 18px;
    position: fixed;
    bottom: 3.5em;
    left: 0;
    right: 0;
    margin-top: 3em;
    text-align: center;

    a {
      color: $color-text;
    }
  }
}